alias so='source ~/.bash_aliases'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ll='ls -alh'
alias exe='chmod 775'

# Functions
setup_homework() {
    mkdir submission
    touch submission/Makefile
    echo "all:" >> submission/Makefile
    echo -e "\ttar -cf usinha-hw$1.tar *.pdf *.m" >> submission/Makefile

    cp ~/customization/usinha-hw1.tex submission/usinha-hw$1.tex
}

generate_pdf() {
    pdflatex $1.tex
    evince $1.pdf
}

alias devlog='cd /work/personal/devlog/'
alias work='cd /work/'

alias genpdf=generate_pdf

# CMU specific aliases
alias cmussh='ssh linux.andrew.cmu.edu'
alias matlabrun='matlab -nodesktop -nosplash -r "run\( """$1""" \)"'
alias homework=setup_homework
load_munch() {
    cd /work/side-projects/broccoli-munch/
    source setup-dev-env.sh
}
alias munch=load_munch


# aishack specific
alias sshaishack='ssh utkarsh@aishack.in'


# cmu opensource
setup_cmu_projects() {
    export GOPATH="/work/side-projects/opensource/cmu"
    export PATH=$GOPATH/bin:$PATH
    cd $GOPATH/bin
}
alias cmu=setup_cmu_projects

alias ri_print='xeroxprint -dNSH-RI-printer '
alias cv='cd /work/school/16-720/'
alias ml='cd /work/school/10-601/'
alias math='cd /work/school/16-811/'
alias cvta='cd /work/school/16-385'
alias vlr='cd /work/school/16-824/'
alias phy='cd /work/school/16-823/'
alias pgm='cd /work/school/10-708/'

## Cuda setup
export PATH="/usr/local/cuda-7.5/bin:$PATH"
export LD_LIBRARY_PATH="/usr/local/cuda-7.5/lib64:$LD_LIBRARY_PATH"
export CUDA_ROOT=/usr/local/cuda-7.5
export THEANO_FLAGS='cuda.root=$CUDA_ROOT,device=gpu,floatX=float32'

## ROS setup
source /opt/ros/indigo/setup.bash

alias vv='gwenview '

## Algorithm aliases
alias sol="touch solution.py; exe solution.py; echo '#!/usr/bin/python' >> solution.py"

alias mountrpi='sshfs pi@braavos:/work/ /work/personal/raspberry'
alias unmountrpi='fusermount -u /work/personal/raspberry'
alias book='cd /work/personal/aishack-content/paper-book/'
alias dotfiles='cd /work/personal/dotfiles'

export PATH=/work/school/15-618/ispc-v1.8.2-linux/:$PATH

alias server='python -m SimpleHTTPServer'

alias cmughc='ssh ghc47.ghc.andrew.cmu.edu'
alias sshnea='ssh usinha@128.237.175.232'



setup_hw1() {
    mv matlab/houghScript.m matlab/ProvidedHoughScript.m
    mv matlab/drawLine.m matlab/ProvidedDrawLine.m
    cp /work/school/16-385/homeworks/hw1/matlab/{houghScript.m,drawLine.m} ./matlab/
    cp /work/school/16-385/homeworks/hw1/data/ ./ -rvL
    mkdir results
}
setup_hw2() {
    cp /work/school/16-385/homeworks/hw2/tozip/data . -rL
}
setup_hw3() {
    cp /work/school/16-385/homeworks/hw3/matlab/brief-indices.mat .
    mv computeBrief.m computeBrief.m.bak
    cp /work/school/16-385/homeworks/hw3/matlab/computeBrief.m .
}
fix_backup() {
    mv dictionaryHarris.mat.bak dictionaryHarris.mat
    mv dictionaryRandom.mat.bak dictionaryRandom.mat
    mv visionHarris.mat.bak visionHarris.mat
    mv visionRandom.mat.bak visionRandom.mat
}
alias ta_hw1=setup_hw1
alias ta_hw2=setup_hw2
alias ta_hw3=setup_hw3
alias ta_fix=fix_backup
load_nea() {
    cd /work/school/capstone/mscv-nea/users/utk
    source setup.sh
}
alias nea=load_nea
alias late='ssh usinha@latedays.andrew.cmu.edu'

export PATH=/work/personal/caffe-personal/cmake-build/tools/:$PATH
export LD_LIBRARY_PATH=/work/school/16-824/project/cuda/lib64:$LD_LIBRARY_PATH
export PYTHONPATH=/work/personal/caffe-personal/python/:$PYTHONPATH
